#borel-regular {
    font-family: "Montserrat", serif;
  }
  
  .nav-link {
    position: relative; /* Necesario para el pseudo-elemento */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.nav-link::after {
    content: ""; /* Crea un pseudo-elemento */
    display: block;
    width: 100%; /* Ancho completo */
    height: 2px; /* Altura del borde */
    background: transparent; /* Color inicial del borde */
    position: absolute;
    left: 0;
    bottom: 0; /* Posiciona el borde en la parte inferior */
    
}

.nav-link:hover::after {
    background: #f33b3e; /* Cambia el color del borde al pasar el mouse */
}




